/*********************************************************************************
 *                                Tag Styles                                     *
 *********************************************************************************/
header {
    /* Alignment */
    height: 12vh;
    width: 100%;
    /* Color */
    background: #04BEDB;
    box-shadow: 0px 5px 20px lightgray;
}

/* Text sized for the first letter of each word being larger */
p {
    /* Alignment */
    display: inline-block;
    line-height: 12vh;
    margin-left: 3vh;
    /* Typography */
    color: white;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: medium;
}

/*********************************************************************************
 *                         Custom Styles - Buttons                               *
 *********************************************************************************/
.button {
    /* Alignment */
    border: none;
    float: right;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    /* Color */
    background-color: #04BEDB;
    /* Typography */
    color: white;
    font-family: Montserrat;
    font-size: 24px;
}

.button:hover {
    background-color: #0891B2;
}

.button-group {
    display: inline-block;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: x-large;
}