header {
    background: #04BEDB;
    box-shadow: 0px 5px 5px lightgray;
    height: 12vh;
    width: 100%;
}

p {
    color: white;
    display: inline-block;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: medium;
    margin-left: 3vh;
}

.button {
    background-color: #04BEDB;
    border: none;
    color: white;
    float: right;
    font-family: Montserrat;
    font-size: 24px;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.button:hover {
    background-color: #0891B2;
}

.button-group {
    display: inline-block;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: x-large;
}