<header>
    <p>H<span style="font-size: 48px;">ELENA</span> L<span style="font-size: 48px;">YND</span></p>
    <button class="button" routerLink="/contact" routerLinkActive="active" aria-current="page"><span class="material-symbols-outlined">call</span> Contact</button>
    <button class="button" routerLink="/projects" routerLinkActive="active" aria-current="page"><span class="material-symbols-outlined">folder_open</span> Projects</button>
    <button class="button" routerLink="/" routerLinkActive="active" aria-current="page"><span class="material-symbols-outlined">clinical_notes</span> Resume</button>
</header>
