/* Blue dotted lines to delineate resume sections */
hr {
    border: none;
    border-top: 4px dotted #04BEDB;
    flex-grow: 1;
    margin: 12px;
    opacity: 1;
}

/* Body text, black 20 pt. with spacing for icons and ul */
p, li {
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-left: 3vh;
}

/* White center page for resume content */
.content {
    background-color: #fff;      
    flex: 1;                 
    padding: 10px;               
    overflow-y: auto;               
}

/* Flex container for Section Headings to display next to dotted lines */
.heading-container {
    display: flex;
    align-items: flex-end;
}

/* Section headings, blue 32 pt. */
.heading-text {
    color:#04BEDB;
    font-weight: medium;
    font-family: Montserrat;
    font-size: 32px;
    margin-top: 2vh;
    white-space: nowrap;
}

/* Icon styling */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 25px;
    color:#04BEDB;
  }

/* Blue bordered box to display quick resume facts */
.quick-facts-box {
    border: 5px solid #04BEDB;
    height: 10%;
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vh;
}

/* Align icons with fact text */
.quick-fact {
    line-height: 10%;
}

/* Body text, black 20 pt. with spacing for regular resume text */
.resume-text {
    color: black;
    display: inline-block;
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 2vh;
    margin-bottom: 0;
    margin-left: 0;
}

/* Flex container for sidebars and content between them */
.sidebar-container {
    display: flex;            
    margin-top: 5px;
    min-height: calc(88vh - 5px);
    overflow: hidden;
}

/* Gray sidebar */
.sidebar {
    background-color: #f2f2f2;
    width: 15%;                  
}